.device-slider {
  padding: 8px;
}

.add-device mat-icon {
  line-height: 18px;
}

.box {
  border: 1px solid;
  padding: 8px;
  border-radius: 5px;
  margin-right: 8px;
  border-color: blue;
}

.remove-device {
  color: red;
}